<h1>Currículos</h1>

<button type="button" class="btn btn-primary" style="margin-bottom: 15px;">
  <%= link_to 'Novo currículo', new_curriculo_path %>
</button>

<table class="table table-primary">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">Email</th>
      <th scope="col">Endereço WEB</th>
      <th scope="col">Experiência</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @curriculos.each do |curriculo| %>
      <tr>
        <td><%= curriculo.nome %></td>
        <td><%= curriculo.telefone %></td>
        <td><%= curriculo.email %></td>
        <td><%= curriculo.web %></td>
        <td><%= curriculo.experiencia %></td>
        <td>
          <button type="button" class="btn btn-info btn-sm">
            <%= link_to 'Visualizar', curriculo %>
          </button>
          <button type="button" class="btn btn-success btn-sm">
            <%= link_to 'Editar', edit_curriculo_path(curriculo) %>
          </button>
          <button type="button" class="btn btn-danger btn-sm">
            <%= link_to 'Excluír', curriculo, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' } %>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
