<h1>Visualização de currículo</h1>

<p>
  <strong>Nome:</strong>
  <%= @curriculo.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @curriculo.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @curriculo.email %>
</p>

<p>
  <strong>Endereço WEB:</strong>
  <%= @curriculo.web %>
</p>

<p>
  <strong>Experiência:</strong>
  <%= @curriculo.experiencia %>
</p>

<button type="button" class="btn btn-secondary btn-sm">
  <%= link_to 'Editar', edit_curriculo_path(@curriculo) %>
</button>
<button type="button" class="btn btn-secondary btn-sm">
  <%= link_to 'Voltar', curriculos_path %>
</button>